.code-box-demo {
    text-align: center;
}

.custom_layout_principal {
    height: 100vh;

}


.custom_ant_layout_header,

.custom_ant_layout_sider {
    color: #fff;
    line-height: 120px;
    background: #2386DC;
}


.ant-layout-sider {
    background: #2386DC;
}

.custom_ant_layout_content {
    min-height: 70vh;
    max-height: 100 vh;
    color: rgb(255, 255, 255);
    line-height: 120px;
    background: #f0f2f5;
    // display: inline
}

.col_menu {
    padding-left: 20px;
}

.col_menu_settings {
    text-align: center;
}
.header_private {
    background: rgba(228, 243, 255, 0.8);
    color: #fff;
    border-style: solid;
    border-color: #004e92;
    border-width: 0px 0px 1px 0px;
}